@model WebApplication5.Models.Sub

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sub</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
